/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
*.png
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
admin/node_modules
admin/public/hot
admin/public/storage
admin/storage/*.key
admin/vendor
admin/.idea
admin/.vagrant
admin/Homestead.json
admin/Homestead.yaml
admin/npm-debug.log
admin/yarn-error.log
admin/.env