
margin-left: 2%;
margin-right: 2%;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
padding: 2%;
}

.front_page.col img.img1 {
width: 110px;
height: 110px;
}

.front_page.col img.img2 {
width: 110px;
height: 110px;
}

.front_page.col img.img3 {
width: 110px;
height: 110px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.row.wrapper {
width:1000px;
margin:auto;
}

.front_page.line {
width:1000px;
margin-top:60px;
margin-bottom:30px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 475px;
height: 230px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 55%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 30%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 360px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 150px;
right: 40px;
color: #3473d9;
text-shadow: grey;
font-size:30px;
}

.GotoSIinput {
width: 150px;
height: 150px;
background-color: #3473d9;
position: fixed;
bottom: 15px;
right: 40px;
border: none;
border-radius: 120px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:250px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}
.front_page.image-container.dashboard {
width:100%;
height:250px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
.front_page {
text-align: center;
font-size: 25px;
}

.front_page img {
width: 768px;
height: 400px;
}

.front_page.container {
width: 100%;
padding: 0;
}

.front_page.row {
width: 100%;
margin: auto;
text-align: center;
}

.front_page.col {
width: 180px;
height: 180px;
display: inline-block;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
font-size: 20px;
padding: 2%;
}

.front_page.col img.img1 {
width: 95px;
height: 95px;
}

.front_page.col img.img2 {
width: 95px;
height: 95px;
}

.front_page.col img.img3 {
width: 95px;
height: 95px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.row.wrapper {
width:600px;
margin:auto;
}

.front_page.line {
width:600px;
margin-top:30px;
margin-bottom:15px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 295px;
height: 155px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 55%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 30%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 360px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 150px;
right: 45px;
color: #3473d9;
text-shadow: grey;
font-size:25px;
}

.GotoSIinput {
width: 140px;
height: 140px;
background-color: #3473d9;
position: fixed;
bottom: 15px;
right: 40px;
border: none;
border-radius: 100px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:170px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}
.front_page.image-container.dashboard {
width:100%;
height:170px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
}

@media (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
.front_page {
text-align: center;
font-size: 25px;
}

.front_page img {
width: 768px;
height: 400px;
}

.front_page.container {
width: 100%;
padding: 0;
}

.front_page.row {
width: 100%;
margin: auto;
text-align: center;
}

.front_page.col {
width: 180px;
height: 180px;
display: inline-block;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
font-size: 20px;
padding: 2%;
}

.front_page.col img.img1 {
width: 95px;
height: 95px;
}

.front_page.col img.img2 {
width: 95px;
height: 95px;
}

.front_page.col img.img3 {
width: 95px;
height: 95px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.row.wrapper {
width:600px;
margin:auto;
}

.front_page.line {
width:600px;
margin-top:30px;
margin-bottom:15px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 295px;
height: 155px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 55%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 30%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 300px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 150px;
right: 45px;
color: #3473d9;
text-shadow: grey;
font-size:25px;
}

.GotoSIinput {
width: 140px;
height: 140px;
background-color: #3473d9;
position: fixed;
bottom: 15px;
right: 40px;
border: none;
border-radius: 100px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:170px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}
.front_page.image-container.dashboard {
width:100%;
height:170px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
.front_page {
text-align: center;
font-size: 25px;
}

.front_page img {
width: 768px;
height: 355px;
}

.front_page.container {
width: 100%;
padding: 0;
}

.front_page.row {
width: 100%;
margin: auto;
text-align: center;
}

.front_page.col {
width: 180px;
height: 180px;
display: inline-block;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
font-size: 20px;
padding: 2%;
}

.front_page.col img.img1 {
width: 95px;
height: 95px;
}

.front_page.col img.img2 {
width: 95px;
height: 95px;
}

.front_page.col img.img3 {
width: 95px;
height: 95px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.row.wrapper {
width:600px;
margin:auto;
}

.front_page.line {
width:600px;
margin-top:30px;
margin-bottom:15px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 295px;
height: 155px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 55%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 30%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 360px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 175px;
right: 55px;
color: #3473d9;
text-shadow: grey;
font-size:25px;
}

.GotoSIinput {
width: 160px;
height: 160px;
background-color: #3473d9;
position: fixed;
bottom: 15px;
right: 40px;
border: none;
border-radius: 100px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:170px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}
.front_page.image-container.dashboard {
width:100%;
height:170px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.front_page {
text-align: center;
font-size: 25px;
}

.front_page img {
width: 768px;
height: 355px;
}

.front_page.container {
width: 100%;
padding: 0;
}

.front_page.row {
width: 100%;
margin: auto;
text-align: center;
}

.front_page.col {
width: 180px;
height: 180px;
display: inline-block;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
font-size: 20px;
padding: 2%;
}

.front_page.col img.img1 {
width: 95px;
height: 95px;
}

.front_page.col img.img2 {
width: 95px;
height: 95px;
}

.front_page.col img.img3 {
width: 95px;
height: 95px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.row.wrapper {
width:600px;
margin:auto;
}

.front_page.line {
width:600px;
margin-top:30px;
margin-bottom:15px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 295px;
height: 155px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 55%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 30%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 360px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 90px;
right: 45px;
color: #3473d9;
text-shadow: grey;
font-size:15px;
}

.GotoSIinput {
width: 85px;
height: 85px;
background-color: #3473d9;
position: fixed;
bottom: 15px;
right: 40px;
border: none;
border-radius: 100px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:170px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}
.front_page.image-container.dashboard {
width:100%;
height:170px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
}

@media (min-width: 481px) and (max-width: 767px) {
.front_page {
text-align: center;
}

.front_page img {
width: 481px;
height: 224px;
}

.front_page.container {
width: 100%;
padding: 0;
}

.front_page.row {
width: 100%;
margin: auto;
text-align: center;
}

.front_page.col {
width: 110px;
height: 110px;
display: inline-block;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
}

.row.wrapper {
width:400px;
margin:auto;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
font-size: 100%;
padding: 2%;
}

.front_page.col img.img1 {
width: 50px;
height: 50px;
}

.front_page.col img.img2 {
width: 50px;
height: 50px;
}

.front_page.col img.img3 {
width: 50px;
height: 50px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.front_page.line {
width:400px;
margin-top:30px;
margin-bottom:15px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 180px;
height: 100px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 55%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 30%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 360px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 115px;
right: 25px;
color: #3473d9;
text-shadow: grey;
}

.GotoSIinput {
width: 100px;
height: 100px;
background-color: #3473d9;
position: fixed;
bottom: 3%;
right: 3%;
border: none;
border-radius: 100px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:100px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}
.front_page.image-container.dashboard {
width:100%;
height:100px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
.front_page {
text-align: center;
}

.front_page img {
width: 481px;
height: 224px;
}

.front_page.container {
width: 100%;
padding: 0;
}

.front_page.row {
width: 100%;
margin: auto;
text-align: center;
}

.front_page.col {
width: 110px;
height: 110px;
display: inline-block;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
}

.row.wrapper {
width:400px;
margin:auto;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
font-size: 100%;
padding: 2%;
}

.front_page.col img.img1 {
width: 50px;
height: 50px;
}

.front_page.col img.img2 {
width: 50px;
height: 50px;
}

.front_page.col img.img3 {
width: 50px;
height: 50px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.front_page.line {
width:400px;
margin-top:30px;
margin-bottom:15px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 180px;
height: 100px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 55%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 30%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 360px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 80px;
right: 20px;
color: #3473d9;
text-shadow: grey;
}

.GotoSIinput {
width: 75px;
height: 75px;
background-color: #3473d9;
position: fixed;
bottom: 3%;
right: 3%;
border: none;
border-radius: 100px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:100px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}
.front_page.image-container.dashboard {
width:100%;
height:100px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
}
@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
.front_page {
text-align: center;
}

.front_page img {
width: 100%;
height: 35%;
}

.front_page.container {
width: 100%;
padding: 0;
}

.front_page.row {
width: 100%;
margin: auto;
text-align: center;
}

.front_page.col {
width: 90px;
height: 90px;
display: inline-block;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
}

.row.wrapper {
width:320px;
margin:auto;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
font-size: 100%;
padding: 2%;
}

.front_page.col img.img1 {
width: 35px;
height: 35px;
}

.front_page.col img.img2 {
width: 35px;
height: 35px;
}

.front_page.col img.img3 {
width: 35px;
height: 35px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.front_page.line {
width:320px;
margin-top:22px;
margin-bottom:4px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 150px;
height: 90px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 55%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 30%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 300px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 90px;
right: 15px;
color: #3473d9;
text-shadow: grey;
}

.GotoSIinput {
width: 80px;
height: 80px;
background-color: #3473d9;
position: fixed;
bottom: 3%;
right: 3%;
border: none;
border-radius: 100px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:100px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}

.front_page.image-container.dashboard {
width:100%;
height:100px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
}

// 내 정보수정하기 버튼
.btn.mypage-edit {
display:block;
}

// 게시판 수정, 삭제, 목록 버튼
.text-center.action__article {
margin-top: 3%;
}

// 답글 댓글 구분
.media.item__comment.sub {
margin-left:3%;
}

// 게시판 댓글 textarea
.form-group.comment-area {
margin-top:1%;
}

// 추천인 코드 버튼
.btn-copy {
height: 40px;
width: 30px;
margin: 3px 0 3px 12px;
}

.panel-default > .panel-heading{
border:none;
}
.panel{
box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
@media screen and (max-width: 767px){
.table-responsive {
border:none;
}
}
.table > thead > tr > th,.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td,.table > tbody + tbody{
border-bottom:none;
border-top:none;
}
//테두리 없애기
.navbar{
box-shadow:0px 5px rgba(0, 0, 0, 0.01);
}
.navbar-header{
box-shadow:0px 5px rgba(0, 0, 0, 0.01);
}
.upper{
width:100%;
height:50px;
background-color:#3473d9;
margin-bottom:50px;
}
.upper p{
float:left;
color:white;
font-size:20px;
margin-top:8px;
margin-left:20px;
font-weight:lighter;
}
.upper button{
width:100px;
height:50px;
float:right;
background-color:#3473d9;
border:none;
margin-left:10px;
}
.upper a{
color:white;
}
////panel
.panel.panel-default{
margin-top:50px;
}
.panel,.panel-heading,.panel-body,.panel-footer{
padding:0px;
border:none;
}
.panel-heading{
margin-bottom:20px;
}
.panel-footer{
background-color:white;
}
///row
.row{
padding:0px;
border:none;
}
///col

//////nav brand
.navbar-brand{
//margin-left:150px;
color:#3473d9;
font-weight:lighter;
}
.SI_input{
border-radius:20px;
width:50%;
float:right;
margin-right:20px;
}

//영업정보 등록 폼
.salesinfo_label{
display:inline-block;
font-size:10px;
}

//영업정보 등록 폼 레이블 wrapper
.row.wrapper-input{
display: flex;
align-items: center;
justify-content: center;
}

//영업정보 등록 폼 레이블
.col-sm-2.input_label{
display: flex;
align-items: center;
justify-content: center;
padding-top:1%;
//margin-bottom: 5%;
}
.form-group{
margin-bottom:5%;
}
#image_preview{
width:80%;
height:150px;
margin:5% auto;
padding:10px;
border:1px solid rgba(0,0,0,0.2);
border-radius:10px;
}
#image_preview img{
width:120px;
height:120px;
}
#sketchpadapp{
width:100%;
margin:3% auto;
}
.leftside{
width:85%;
max-width:320px;
margin:15px auto;
display:grid;
grid-template-columns:repeat(2,1fr);
}
.rightside{
width:85%;
margin:auto;
display:grid;
grid-template-rows:repeat(1,1fr);
}
#clearbutton{
width:50px;
height:20px;
background-color:#3473d9;
color:white;
border-radius:20px;
border:none;
justify-self:end;
}
#sketchpad{
width:100%;
max-width:320px;
height:auto;
justify-self:center;
border:1px solid rgba(0,0,0,0.2);
border-radius:20px;
}

//영업정보 등록 폼 레이블
.col-xs-2.input_label{
display: flex;
align-items: center;
justify-content: center;
padding:0;
//margin-bottom: 5%;

}

//영업정보 등록 폼 주소 찾기 버튼
.postbutton{
margin:20px auto;
display:grid;
grid-template-columns:(1,1fr);
}
#postcodify_search_button {
font-size:10px;
//padding:0;
border:none;
margin-right:15px;
justify-self:end;
}

.name{
width:30%;
float:left;
font-size:18px;
font-weight:lighter;
margin-top:5px;
}
.form-group.inputbox{
width:100%;
height:50px;
margin-bottom:30px;
}
////SI category
.bluetitle{
color:#3473d9;
font-size:18px;
}
.greytitle{
margin-left:20px;
}
.SIreset{
width:60px;
height:25px;
background-color:#3473d9;
float:right;
color:white;
border:none;
border-radius:15px;
}
.checkbox_category{
float:left;
}

/* checkbox design
/* The container */
.checkbox {
display: block;
position: relative;
margin-top:12px;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 16px;
font-weight:lighter;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
position: absolute;
opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
border-radius:5px;
background-color: #3473d9;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
background-color: #3473d9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
left: 10px;
top: 5px;
width: 7px;
height: 12px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
////SI_input_category blade
.checkboxcontainer{
width:100%;
height:50px;
float:left;
margin-bottom:20px;
}
.checkboxcontainer label{
float:left;
margin-right:30px;
}
.moneycontainer{
width:40%;
height:40px;
float:right;
}
.moneycontainer input{
width:100%;
margin-top:7px;
display:inline-block;
}

.Salestip{
width:20px;
height:20px;
border-radius:50px;
border:none;
background-color:#b7babf;
color:white;
padding-bottom:2px;
display:inline-block;
float:right;
}
.tipcontainer{
width:30px;
height:20px;
padding-top:10px;
float:right;
}
.buttongroup{
width:140px;
height:50px;
margin:auto;
display:grid;
grid-template-columns:repeat(1,1fr);
justify-items:center;
}
///////////SI_show.blade.php
.Moneysum{
font-size:20px;
color:#b7babf;
margin-left:100px;
font-weight:lighter;
}
.divide{
width:75%;
height:62px;
margin:auto;
text-align:center;
margin-bottom:20px;
border-top:2px solid rgba(0, 0, 0, 0.1);
border-left:2px solid rgba(0, 0, 0, 0.1);
border-right:2px solid rgba(0, 0, 0, 0.1);
box-shadow:0px 4px 0px 0px rgba(0, 0, 0, 0.3);
}
.divide li{
float:left;
}
.SI_button{
margin-top:15px;
width:40%;
height:30px;
background-color:white;
border:none;
font-size:12px;
border-radius:0px;
}
#mine{
border-right:2px solid grey;
}
table th{
color: #3473d9;
text-align:center;
}
.state{
width:80px;
height:25px;
background-color:#3473d9;
border:none;
border-radius:20px;
box-shadow:3px 0px 0px 0px rgba(0, 0, 0, .5);
color:white;
}
.success{
width:80px;
height:25px;
background-color:white;
border:1px solid #b7babf;
border-radius:20px;
box-shadow:3px 0px 0px 0px #3473d9;
color:#3473d9;
}

///////출금신청 파트 미디어 쿼리 필요
.wd{
font-size:12px;
}
.wdalbox{
width:100%;
height:50px;
}
.wd.SI_input{
height:30px;
}
.withdrawalinfo{
width:100%;
height:85px;
border-top:1px solid rgba(0, 0, 0, 0.1);
border-bottom:1px solid rgba(0, 0, 0, 0.1);
padding:15px 0px;
}
.Newinfocontainer{
width:100px;
height:20px;
margin:10px auto;
}
.Newwithinfo{
width:100%;
height:20px;
background-color:#3473d9;
border:none;
font-size:10%;
border-radius:20px;
box-shadow:3px 0px 0px 0px rgba(0, 0, 0, .5);
color:white;
padding:1px 0 0 0;
}
.Caution{
width:90%;
height:250px;
margin:auto;
margin-bottom:15px;
border-radius:5px;
border:1px solid rgba(0, 0, 0, 0.1);
}
.buttoncontainer{
width:50%;
height:50px;
margin:auto;
}
.Requestwidthdrawal{
width:100%;
//height:50px;
background-color:#3473d9;
color:white;
margin:auto;
}
.Cashcaculate{
text-align:right;
padding-right:30px;
}
.Cashcaculate div{
margin-bottom:5px;
}
#Tax span{
border-bottom:1px solid black;
}

///////수익확인 파트
.MoneyAll{
font-size:20px;
text-align:center;
}
.Accumulate{
text-align:center;
}
.MoneyShow{
text-align:center;
width:80%;
margin:auto;
border-top:1px solid rgba(0, 0, 0, 0.1);
border-bottom:1px solid rgba(0, 0, 0, 0.1);
padding:15px 0px;
}
.MoneyShow .bluetitle{
font-size:15px;
}
.buttoncontainer{
width:40%;
height:100px;
margin:auto;
}
.withdrawal{
width:100%;
//height:50px;
border:none;
background-color:#3473d9;
//font-size:18px;
color:white;
}
.Gotorecom{
width:50px;
height:60px;
position:fixed;
top:70px;
right:45px;
}
.Gotorecom img{
width:45px;
height:55px;
}
.GotoDeposit{
position:fixed;
top:150px;
right:30px;
}
.GotoWithdrawal{
position:fixed;
top:240px;
right:30px;
}
.GotoDeposit, .GotoWithdrawal{
width:70px;
height:60px;
}
.GotoDeposit img, .GotoWithdrawal img{
width:55px;
height:55px;
}
.GotoDeposit p,.GotoWithdrawal p{
font-size:10px;
color:black;
}


////////////추천인 조회
.RecommendTitle{
margin-top:30px;
text-align:center;
}
.Bluename{
font-size:18px;
color:#3473d9;
}
.showithmoney{
font-size:20px;
}
///////SI_detail
.DetailContainer{
margin-top:50px;
}
@media (min-width: 320px) and (max-width: 480px) {
.front_page {
text-align: center;
}

.front_page img {
width: 100%;
height: 35%;
}

.front_page.container {
width: 100%;
padding: 0;
}

.front_page.row {
width: 100%;
margin: auto;
text-align: center;
}

.front_page.col {
width: 90px;
height: 90px;
display: inline-block;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
margin-top: 5%;
margin-left: 2%;
margin-right: 2%;
}

.row.wrapper {
width:320px;
margin:auto;
}

.row.front-img {
vertical-align: middle;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.front_page.col p {
display: block;
color: #a6a6a6;
margin-bottom: 0;
font-size: 100%;
padding: 2%;
}

.front_page.col img.img1 {
width: 35px;
height: 35px;
}

.front_page.col img.img2 {
width: 35px;
height: 35px;
}

.front_page.col img.img3 {
width: 35px;
height: 35px;
}

.front_page.col p.num {
color: #3473d9;
padding: 2%;
}

.front_page.line {
width:320px;
margin-top:22px;
margin-bottom:4px;
}

.front_page.container h4 {
color: #a6a6a6;
font-size: 100%;
text-align:left;
}

.front_page.col.realtime {
width: 150px;
height: 90px;
margin: 3% 1% 3% 1%;
}

.front_page.col.realtime p.realtime_bname {
display: inline-block;
width: 50%;
margin: 0;
padding: 0;
color: #23243b;
font-size: 110%;
height: 34%;
padding-top: 3%;
}

.front_page.col.realtime p {
text-align: left;
display: block;
padding: 0 0 0 8%;
width: 100%;
font-size: 100%;
height: 32%;
}

.front_page.col.realtime p.realtime_name {
display: inline-block;
width: 35%;
margin: 0;
padding: 0;
font-size: 100%;
height: 34%;
}

.category {
text-align: center;
width: 100%;
}

.category-button.btn-default.dropdown-toggle {
width: 100%;
margin-left: 3%;
font-size: 100%;
}

.btn.category {
color: #3473d9;
width: 90%;
padding: 0;
margin: 3%;
display: block;
background-color: white;
}

.dropdown-menu.dropdown-menu-center {
width: 100%;
margin-left: 3%;
}

.dropdown button {
margin: 0;
text-align: center;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content {
width: 90%;
height: 300px;
margin: 2% 0 2% 3%;
border-radius: 5px;
border: 0;
-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.category.content h3 {
color: #4e85de;
}

.category.content p {
color: #a6a6a6;
}

.category.btn.submit {
color: white;
}

.GotoSIinput-text {
position: fixed;
bottom: 90px;
right: 15px;
color: #3473d9;
text-shadow: grey;
}

.GotoSIinput {
width: 80px;
height: 80px;
background-color: #3473d9;
position: fixed;
bottom: 3%;
right: 3%;
border: none;
border-radius: 100px;
margin: auto;
}

.GotoSIinput img {
display: block;
margin: 13% 6%;
width: 92%;
height: 92%;
}

// 메인페이지 커뮤니티 이미지
.front_page.image-container.community {
height:100px;
background-image: url("/img/community.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.community a {
color:white;
text-decoration:underline;
font-size:150%;
}

.front_page.image-container.dashboard {
width:100%;
height:100px;
background-image: url("/img/dashboard.jpeg");
display: flex;
align-items: center;
justify-content: center;
}

.front_page.image-container.dashboard a {
color:white;
text-decoration:underline;
font-size:150%;
}
.btn.btn-primary.btn-sm{
width:40px;
font-size:10px;
padding-left:7px;
}

.SI_showtitle{
font-size:15px;
}

.showithmoney{
font-size:10px;
}
.showithmoney img{
width:20px;
height:20px;
}

}

/* renew */
.Membermenu{
width:100%;
height:55px;
background-color:#3473d9;
display:grid;
grid-template-columns:repeat(4,1fr);
position:fixed;
bottom:0;
justify-items:center;
align-items:center;
}
.Membermenu div{
display:grid;
grid-template-columns:repeat(1,1fr);
grid-gap:5px;
}
.Membermenu img{
width:22px;
height:22px;
justify-self:center;
}
.Membermenu p{
color:white;
font-size:10px;
font-weight:300;
justify-self:center;
margin-bottom:-7px;
}

.Mmtitle{
justify-self:center;
align-self:center;
text-align:center;
margin-top:20px;
}

.NumberOfRecommender{
align-self:center;
padding:0px 15px;
display:grid;
grid-template-columns:50% 50%;
align-items:center;
}

.NumberOfRecommender a{
justify-self:start;
}
.NumberOfRecommender span{
justify-self:end;
}
.NumberOfRecommender button{
width:80px;
height:30px;
font-size:10px;
}

.loader {
border: 8px solid #f3f3f3;
border-radius: 50%;
border-top: 8px solid #3498db;
width: 60px;
height: 60px;
-webkit-animation: spin 2s linear infinite; /* Safari */
animation: spin 2s linear infinite;
margin:auto;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

/*SIshow */
.SIupper{
display:grid;
grid-template-columns:repeat(2,1fr);
align-items:center;
margin:30px 0px;
}
.SIupper p{
align-self:center;
justify-self:center;
color:#3473d9;
font-size:20px;
margin-bottom:-4px;
}
.SIupper label{
align-self:center;
justify-self:center;
}

.SIupper label .my{
position:absolute;
color:white;
top:5px;
left:8px;
}
.SIupper label .all{
position:absolute;
color:white;
top:6px;
right:8px;
}

.SImenu{
width:100%;
height:55px;
background-color:#3473d9;
display:grid;
grid-template-columns:repeat(6,1fr);
position:fixed;
bottom:0;
justify-items:center;
align-items:center;
}
.SImenu div{
display:grid;
grid-template-columns:repeat(1,1fr);
grid-gap:5px;
}
.SImenu img{
width:22px;
height:22px;
justify-self:center;
}
.SImenu p{
color:white;
font-size:10px;
font-weight:300;
justify-self:center;
margin-bottom:-7px;
}

.switch {
position: relative;
display: inline-block;
width: 70px;
height: 34px;
}
.switch input {display:none;}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #FC7307;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
z-index:1000;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(35px);
-ms-transform: translateX(35px);
transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.SIinfo{
display:grid;
grid-template-columns:repeat(1,1fr);
grid-auto-rows:minmax(75px, auto);
grid-gap:10px;
padding-left:10px;
padding-right:10px;
}

.SIshowtable{
height:100%;
margin-bottom:80px;
}
/*SI detaiil */

.SIdetail{
width:100%;
display:grid;
grid-template-columns:repeat(2,1fr);
grid-auto-rows:minmax(60px, auto);
grid-gap:10px;
justify-items:center;
align-items:center;
margin:5% 0px;
}

.SIdetailtitle{
color:#3473d9;
font-weight:500;
}
.SI_showtitle{
font-size:20px;
grid-column: 1/3;
background-color:#3473d9;
text-align:center;
color:white;
width:100%;
height:100%;
}
.imgtitle{
grid-column: 1/3;
font-size:20px;
}
.SIdetail .imagecontainer{
grid-column: 1/3;
}

/*recommenders */

.recom-container{
display:grid;
grid-template-columns:1fr;
grid-auto-rows:minmax(60px, auto);
grid-gap:10px;
}
.recom_nav{
margin-bottom:30px;
}
.recom_nav img{
width:15px;
height:15px;
}

.Eachrecom{
display:grid;
grid-template-columns:20% 20% 60%;
}
.Eachrecom p{
margin-bottom:0px;
align-self:center;
}
.Eachrecom p:nth-child(3){
justify-self:end;
}
.photo{
width:45px;
height:45px;
border-radius:100px;
border:1px solid black;
align-self:center;
justify-self:center;
background-size: 45px 45px;
}

.profit{
display:grid;
grid-template-columns:1fr;
grid-gap:30px;
}

.money_container{
margin-bottom:80px;
}
.money_container table th td{
font-weight:normal;
}
.money_container table td{
color:rgba(0,0,0,0.7);
}

/* 여기 부터 이상문이 관여한 파트 */
@media only screen and (max-device-width : 767px) {
/* Styles */

}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */

}

@media only screen and (min-device-width : 1025px) {
/* Styles */

}
