.navbar {
  margin-bottom:0;
  padding-left:10px;
}

body {
  background-color:#ffffff;
}

.btn {
  background-color: #3473d9;
  color: white;
  border-radius:0;
}

.container {
  padding:0;
  margin-right:0;
  margin-left:0;
}

.front_page {
  text-align:center;
}

.front_page.container {
  width: 100%;
  margin-top:10px;
}

.front_page.row {
  width:100%;
  margin:auto;
  text-align:center;
}

.front_page.col {
  width:25%;
  height:25%;
  display:inline-block;
  border:1px solid #a6a6a6;
  border-radius:5px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  margin:5px;
}

.front_page.col p {
  display:block;
  color:#a6a6a6;
  margin-bottom:0;
}

.front_page.col image {

}

.front_page.col p.num {
  color:#3473d9;
}

.front_page.container h4 {
  color:#a6a6a6;
  text-align:left;
}

.front_page.col.realtime {
  width:40%;
}

.front_page.col.realtime.col {
  display:inline-block;
  padding:5px;
  margin:7px;
}

.front_page.col.realtime h4 {
  display:inline-block;
  width:55%;
  margin-left:5px;
  color:#3c3d52;
  margin-top:0;
  margin-bottom:0;
}

.front_page.col.realtime p {
  //float:left;
  text-align:left;
  display:block;
  padding-left:10px;
}

.front_page.col.realtime p.name {
  display:inline-block;
  width:35%;
}


//.container {
//  width: 100%;
//
//  height: 100%;
//  margin:auto;
//}
//.container img {
//  margin-bottom:20px;
//}
//
//.row.front {
//  text-align:center;
//}
//
//.row.realtime {
//  text-align:center;
//}
//
//.col-sm-6.icon {
//  display:inline;
//}
//
//.icon.col-sm-4{
//  display:inline;
//}
//
//.icon.contents {
//  width:20%;
//  display:inline-block;
//  border: 1px solid #ddd;
//}
//
//.container {
//  padding:0;
//}
//.container.home {
//  padding:10px;
//}
//

// 영업 라인업
.title.category {
  color:#4e85de;
}

.btn-block.category {
  //width:200px;
  background-color: white;
  color:#a6a6a6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.dropdown-menu.dropdown-menu-center {
  width: 100%;
  left: 50% !important;
  right: auto !important;
  transform: translate(-50%, 0) !important;
  background-color: white;
  color:#a6a6a6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.text-center.category {
  border: 1px solid #a6a6a6;
  height: 100%;
}

.text-center.category h3 {
  color:#4e85de;
}

.text-center.category p {
  color:#a6a6a6;
  height: 100px;
}

.btn.category {
  margin:10px;
  color:white;
}