.panel-default > .panel-heading{
  border:none;
}
.panel{
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
@media screen and (max-width: 767px){
  .table-responsive {
    border:none;
  }
}
.table > thead > tr > th,.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td,.table > tbody + tbody{
  border-bottom:none;
  border-top:none;
}
/////////테두리 없애기
.navbar{
  box-shadow:0px 5px rgba(0, 0, 0, 0.01);
}
.navbar-header{
  box-shadow:0px 5px rgba(0, 0, 0, 0.01);
}
.upper{
  width:100%;
  height:50px;
  background-color:#3473d9;
  margin-bottom:50px;
}
.upper p{
  float:left;
  color:white;
  font-size:20px;
  margin-top:8px;
  margin-left:20px;
  font-weight:lighter;
}
.upper button{
  width:100px;
  height:50px;
  float:right;
  background-color:#3473d9;
  border:none;
  margin-left:10px;
}
.upper a{
  color:white;
}
////panel
.panel,.panel-heading,.panel-body,.panel-footer{
  padding:0px;
  border:none;
}
.panel-heading{
  margin-bottom:20px;
}
.panel-footer{
  background-color:white;
}
///row
.row{
  padding:0px;
  border:none;
}
///col
//////nav brand
.navbar-brand{
  margin-left:150px;
  color:#3473d9;
  font-weight:lighter;
}
.SI_input{
  border-radius:20px;
  width:50%;
  float:right;
  margin-right:20px;
}
.name{
  width:40%;
  float:left;
  font-size:18px;
  font-weight:lighter;
  margin-top:5px;
}
.inputbox{
  width:100%;
  height:50px;
  margin-bottom:30px;
}
////SI category
.bluetitle{
  color:#3473d9;
  font-size:18px;
}
.greytitle{
  color:#b7babf;
  margin-left:20px;
}
.Sireset{
  width:60px;
  height:25px;
  background-color:#3473d9;
  float:right;
  color:white;
  border:none;
  border-radius:15px;
}
.category{
  float:left;
}

/* checkbox design
/* The container */
.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight:lighter;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius:5px;
    background-color: #3473d9;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #3473d9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 10px;
    top: 5px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
////SI_input_category blade
.checkboxcontainer{
  width:100%;
  height:50px;
  float:left;
  margin-bottom:20px;
}
.checkboxcontainer label{
  float:left;
  margin-right:30px;
}
.moneycontainer{
  width:40%;
  height:40px;
  float:right;
}
.moneycontainer input{
  width:100%;
  margin-top:7px;
  display:inline-block;
}

.Salestip{
  width:20px;
  height:20px;
  border-radius:50px;
  border:none;
  background-color:#b7babf;
  color:white;
  padding-bottom:2px;
  display:inline-block;
  float:right;
}
.tipcontainer{
  width:30px;
  height:20px;
  padding-top:10px;
  float:right;
}
.buttongroup{
  width:140px;
  height:50px;
  margin:auto;
}
///////////SI_show.blade.php
.SI_showtitle{
  font-size:20px;
  color: #3473d9;
  text-align:center;
}
.Moneysum{
  font-size:20px;
  color:#b7babf;
  margin-left:100px;
  font-weight:lighter;
}
.divide{
  width:70%;
  height:62px;
  margin:auto;
  text-align:center;
  margin-bottom:20px;
  border-top:2px solid rgba(0, 0, 0, 0.1);
  border-left:2px solid rgba(0, 0, 0, 0.1);
  border-right:2px solid rgba(0, 0, 0, 0.1);
  box-shadow:0px 4px 0px 0px rgba(0, 0, 0, 0.3);
}
.divide li{
  float:left;
}
.SI_button{
  margin-top:15px;
  width:40%;
  height:30px;
  background-color:white;
  border:none;
  font-size:12px;
  border-radius:0px;
}
#mine{
  border-right:2px solid grey;
}
table th{
  color: #3473d9;
  font-weight:lighter;
  text-align:center;
}
table td{
  color:#b7babf;
  font-weight:lighter;
}
.state{
  width:80px;
  height:25px;
  background-color:#3473d9;
  border:none;
  border-radius:20px;
  box-shadow:3px 0px 0px 0px rgba(0, 0, 0, .5);
  color:white;
}
.success{
  width:80px;
  height:25px;
  background-color:white;
  border:1px solid #b7babf;
  border-radius:20px;
  box-shadow:3px 0px 0px 0px #3473d9;
  color:#3473d9;
}
